* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 350px;
    max-height: 400px;
    border: 1px solid grey;
    background-color: blanchedalmond;
    background-color: #343541;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}


.back-arrow:hover {
    cursor: pointer;
}

h1 {
    margin: 0 auto;
    align-self: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

ul {
    background-color: #343541;
    border-radius: 8px;
    list-style: none;
    margin-bottom: 1rem;
}

ul li {
    color: white;
    padding: 8px 6px;
    border-radius: 10px;
    font-size: 0.9rem;
}

ul li:hover {
    cursor: pointer;
    background-color: #5b5c69;
}

.add-prompt-section {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    align-items: center;
    gap: 4px;
    background-color: #343541;
}

.save-prompt-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
    align-items: center;
    gap: 4px;
    background-color: #343541;
}

.save-prompt-section:hover {
    cursor: pointer;
    background-color: #5b5c69;
}

.add-prompt-section:hover {
    cursor: pointer;
    background-color: #5b5c69;
}

.plus-btn {
    align-self: center;
    width: 20px;
}

.add-text {
    font-size: 0.9rem;
    color: white;
    border: none;
    background-color: transparent;
}

.add-text:hover {
    cursor: pointer;
}

p {
    color: #c3d5db;
    font-size: 0.9rem;
    text-align: center;
}

form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.prompt-title {
    background-color: #40414f;
    outline: none;
    border: 1px solid grey;
    padding: 1px 2px;
    width: 100%;
    font-size: 0.9rem;
    color: white;
}

.prompt-text {
    font-size: 0.9rem;
    background-color: #40414f;
    outline: none;
    border: 1px solid grey;
    color: white;
    padding: 1px 2px;
    width: 100%;
    resize: none;
}

.prompt {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 0.5rem;
}

.view-prompt-text {
    font-size: 0.8rem;
    color: white;
    background-color: #40414f;
    border: 1px solid grey;
    resize: none;
    height: 150px;
}

.view-prompt-text:focus {
    outline: none;
}

.prompt-title::placeholder {
    color: #c3d5db;
}

.prompt-text::placeholder {
    color: #c3d5db;
}

.view-prompt-title {
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.success-msg{
    color: white;
    position: absolute;
    left: 70px;
    top: 56px;
    background-color: #343541;
}

.error-msg{
    color: white;
    margin: 0 auto;
}


.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 6px;
    align-items: center;
    margin-bottom: 6px;
}

.button-click {
    background-color: #63646b;
}

.copy-button {
    color: white;
    padding: 4px 8px;
    background-color: #343541;
    border: 1px solid grey;
}

.copy-button:hover {
    cursor: pointer;
    background-color: #5b5c69;
}

.delete-button {
    color: white;
    padding: 4px 8px;
    background-color: #343541;
    border: 1px solid grey;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #DC3545;
}